name: Update and publish data

permissions:
  contents: write
  id-token: write

on:
  schedule:
    - cron: "0 0 * * *" # Runs daily at midnight
  workflow_dispatch: # Allows manual triggering

jobs:
  update-and-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Use Node 20.x
        uses: actions/setup-node@v6
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"
          token: ""
      - name: Install dependencies
        run: npm ci
      - name: Update data
        run: npm run data:update && npm run data:generate
      - id: update-version
        run: |
          VERSION=0.0.0-$(date +%Y%m%d%H%M)
          echo "version=$VERSION" >> $GITHUB_OUTPUT;
          jq --arg version $VERSION '.version = $version' package.json > temp.json && mv temp.json package.json
      - name: Debug npm auth
        run: |
          npm config list
          env | grep -i npm || true
      - run: NODE_AUTH_TOKEN="" npm publish
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.update-version.outputs.version }}
          release_name: Release ${{ steps.update-version.outputs.version }}
          body: |
            Automated release for version ${{ steps.update-version.outputs.version }}.
            This release includes the latest static GTFS data.
          draft: false
          prerelease: false
      - name: Commit files
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit -a -m "Version bump" || echo "No changes to commit"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
